<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.mapper.SysFhbuttonMapper" >
  <resultMap id="BaseResultMap" type="com.ssm.po.SysFhbutton" >
    <id column="FHBUTTON_ID" property="fhbuttonId" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="QX_NAME" property="qxName" jdbcType="VARCHAR" />
    <result column="BZ" property="bz" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    FHBUTTON_ID, NAME, QX_NAME, BZ
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ssm.po.SysFhbuttonExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_fhbutton
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sys_fhbutton
    where FHBUTTON_ID = #{fhbuttonId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_fhbutton
    where FHBUTTON_ID = #{fhbuttonId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ssm.po.SysFhbuttonExample" >
    delete from sys_fhbutton
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ssm.po.SysFhbutton" >
    insert into sys_fhbutton (FHBUTTON_ID, NAME, QX_NAME, 
      BZ)
    values (#{fhbuttonId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{qxName,jdbcType=VARCHAR}, 
      #{bz,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ssm.po.SysFhbutton" >
    insert into sys_fhbutton
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fhbuttonId != null" >
        FHBUTTON_ID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="qxName != null" >
        QX_NAME,
      </if>
      <if test="bz != null" >
        BZ,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fhbuttonId != null" >
        #{fhbuttonId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="qxName != null" >
        #{qxName,jdbcType=VARCHAR},
      </if>
      <if test="bz != null" >
        #{bz,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ssm.po.SysFhbuttonExample" resultType="java.lang.Integer" >
    select count(*) from sys_fhbutton
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sys_fhbutton
    <set >
      <if test="record.fhbuttonId != null" >
        FHBUTTON_ID = #{record.fhbuttonId,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        NAME = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.qxName != null" >
        QX_NAME = #{record.qxName,jdbcType=VARCHAR},
      </if>
      <if test="record.bz != null" >
        BZ = #{record.bz,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sys_fhbutton
    set FHBUTTON_ID = #{record.fhbuttonId,jdbcType=VARCHAR},
      NAME = #{record.name,jdbcType=VARCHAR},
      QX_NAME = #{record.qxName,jdbcType=VARCHAR},
      BZ = #{record.bz,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ssm.po.SysFhbutton" >
    update sys_fhbutton
    <set >
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="qxName != null" >
        QX_NAME = #{qxName,jdbcType=VARCHAR},
      </if>
      <if test="bz != null" >
        BZ = #{bz,jdbcType=VARCHAR},
      </if>
    </set>
    where FHBUTTON_ID = #{fhbuttonId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ssm.po.SysFhbutton" >
    update sys_fhbutton
    set NAME = #{name,jdbcType=VARCHAR},
      QX_NAME = #{qxName,jdbcType=VARCHAR},
      BZ = #{bz,jdbcType=VARCHAR}
    where FHBUTTON_ID = #{fhbuttonId,jdbcType=VARCHAR}
  </update>
</mapper>