<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.mapper.TbPicturesMapper">
	<resultMap id="BaseResultMap" type="com.ssm.po.TbPictures">
		<id column="PICTURES_ID" property="picturesId" jdbcType="VARCHAR" />
		<result column="TITLE" property="title" jdbcType="VARCHAR" />
		<result column="NAME" property="name" jdbcType="VARCHAR" />
		<result column="PATH" property="path" jdbcType="VARCHAR" />
		<result column="CREATETIME" property="createtime" jdbcType="VARCHAR" />
		<result column="MASTER_ID" property="masterId" jdbcType="VARCHAR" />
		<result column="BZ" property="bz" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		PICTURES_ID, TITLE, NAME, PATH, CREATETIME, MASTER_ID, BZ
	</sql>
	<select id="selectByExample" resultMap="BaseResultMap"
		parameterType="com.ssm.po.TbPicturesExample">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from tb_pictures
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			<!-- order by  ${orderByClause} -->
		</if>
		order by createtime desc
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from tb_pictures
		where PICTURES_ID = #{picturesId,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from tb_pictures
		where PICTURES_ID = #{picturesId,jdbcType=VARCHAR}
	</delete>
	<delete id="deleteByExample" parameterType="com.ssm.po.TbPicturesExample">
		delete from tb_pictures
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="com.ssm.po.TbPictures">
		insert into tb_pictures (PICTURES_ID, TITLE, NAME,
		PATH, CREATETIME, MASTER_ID,
		BZ)
		values (#{picturesId,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR},
		#{name,jdbcType=VARCHAR},
		#{path,jdbcType=VARCHAR}, #{createtime,jdbcType=VARCHAR}, #{masterId,jdbcType=VARCHAR},
		#{bz,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.ssm.po.TbPictures">
		insert into tb_pictures
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="picturesId != null">
				PICTURES_ID,
			</if>
			<if test="title != null">
				TITLE,
			</if>
			<if test="name != null">
				NAME,
			</if>
			<if test="path != null">
				PATH,
			</if>
			<if test="createtime != null">
				CREATETIME,
			</if>
			<if test="masterId != null">
				MASTER_ID,
			</if>
			<if test="bz != null">
				BZ,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="picturesId != null">
				#{picturesId,jdbcType=VARCHAR},
			</if>
			<if test="title != null">
				#{title,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="path != null">
				#{path,jdbcType=VARCHAR},
			</if>
			<if test="createtime != null">
				#{createtime,jdbcType=VARCHAR},
			</if>
			<if test="masterId != null">
				#{masterId,jdbcType=VARCHAR},
			</if>
			<if test="bz != null">
				#{bz,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<select id="countByExample" parameterType="com.ssm.po.TbPicturesExample"
		resultType="java.lang.Integer">
		select count(*) from tb_pictures
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update tb_pictures
		<set>
			<if test="record.picturesId != null">
				PICTURES_ID = #{record.picturesId,jdbcType=VARCHAR},
			</if>
			<if test="record.title != null">
				TITLE = #{record.title,jdbcType=VARCHAR},
			</if>
			<if test="record.name != null">
				NAME = #{record.name,jdbcType=VARCHAR},
			</if>
			<if test="record.path != null">
				PATH = #{record.path,jdbcType=VARCHAR},
			</if>
			<if test="record.createtime != null">
				CREATETIME = #{record.createtime,jdbcType=VARCHAR},
			</if>
			<if test="record.masterId != null">
				MASTER_ID = #{record.masterId,jdbcType=VARCHAR},
			</if>
			<if test="record.bz != null">
				BZ = #{record.bz,jdbcType=VARCHAR},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update tb_pictures
		set PICTURES_ID = #{record.picturesId,jdbcType=VARCHAR},
		TITLE = #{record.title,jdbcType=VARCHAR},
		NAME = #{record.name,jdbcType=VARCHAR},
		PATH = #{record.path,jdbcType=VARCHAR},
		CREATETIME = #{record.createtime,jdbcType=VARCHAR},
		MASTER_ID = #{record.masterId,jdbcType=VARCHAR},
		BZ = #{record.bz,jdbcType=VARCHAR}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="com.ssm.po.TbPictures">
		update tb_pictures
		<set>
			<if test="title != null">
				TITLE = #{title,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				NAME = #{name,jdbcType=VARCHAR},
			</if>
			<if test="path != null">
				PATH = #{path,jdbcType=VARCHAR},
			</if>
			<if test="createtime != null">
				CREATETIME = #{createtime,jdbcType=VARCHAR},
			</if>
			<if test="masterId != null">
				MASTER_ID = #{masterId,jdbcType=VARCHAR},
			</if>
			<if test="bz != null">
				BZ = #{bz,jdbcType=VARCHAR},
			</if>
		</set>
		where PICTURES_ID = #{picturesId,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.ssm.po.TbPictures">
		update tb_pictures
		set TITLE = #{title,jdbcType=VARCHAR},
		NAME = #{name,jdbcType=VARCHAR},
		PATH = #{path,jdbcType=VARCHAR},
		CREATETIME = #{createtime,jdbcType=VARCHAR},
		MASTER_ID = #{masterId,jdbcType=VARCHAR},
		BZ = #{bz,jdbcType=VARCHAR}
		where PICTURES_ID = #{picturesId,jdbcType=VARCHAR}
	</update>
</mapper>