<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.mapper.WeixinTextmsgMapper">
	<resultMap id="BaseResultMap" type="com.ssm.po.WeixinTextmsg">
		<id column="TEXTMSG_ID" property="textmsgId" jdbcType="VARCHAR" />
		<result column="KEYWORD" property="keyword" jdbcType="VARCHAR" />
		<result column="CONTENT" property="content" jdbcType="VARCHAR" />
		<result column="CREATETIME" property="createtime" jdbcType="VARCHAR" />
		<result column="STATUS" property="status" jdbcType="INTEGER" />
		<result column="BZ" property="bz" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		TEXTMSG_ID, KEYWORD, CONTENT, CREATETIME, STATUS, BZ
	</sql>
	<select id="selectByExample" resultMap="BaseResultMap"
		parameterType="com.ssm.po.WeixinTextmsgExample">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from weixin_textmsg
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from weixin_textmsg
		where TEXTMSG_ID = #{textmsgId,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from weixin_textmsg
		where TEXTMSG_ID = #{textmsgId,jdbcType=VARCHAR}
	</delete>
	<delete id="deleteByExample" parameterType="com.ssm.po.WeixinTextmsgExample">
		delete from weixin_textmsg
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="com.ssm.po.WeixinTextmsg">
		insert into weixin_textmsg (TEXTMSG_ID, KEYWORD, CONTENT,
		CREATETIME, STATUS, BZ
		)
		values (#{textmsgId,jdbcType=VARCHAR}, #{keyword,jdbcType=VARCHAR},
		#{content,jdbcType=VARCHAR},
		#{createtime,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{bz,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.ssm.po.WeixinTextmsg">
		insert into weixin_textmsg
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="textmsgId != null">
				TEXTMSG_ID,
			</if>
			<if test="keyword != null">
				KEYWORD,
			</if>
			<if test="content != null">
				CONTENT,
			</if>
			<if test="createtime != null">
				CREATETIME,
			</if>
			<if test="status != null">
				STATUS,
			</if>
			<if test="bz != null">
				BZ,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="textmsgId != null">
				#{textmsgId,jdbcType=VARCHAR},
			</if>
			<if test="keyword != null">
				#{keyword,jdbcType=VARCHAR},
			</if>
			<if test="content != null">
				#{content,jdbcType=VARCHAR},
			</if>
			<if test="createtime != null">
				#{createtime,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=INTEGER},
			</if>
			<if test="bz != null">
				#{bz,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<select id="countByExample" parameterType="com.ssm.po.WeixinTextmsgExample"
		resultType="java.lang.Integer">
		select count(*) from weixin_textmsg
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update weixin_textmsg
		<set>
			<if test="record.textmsgId != null">
				TEXTMSG_ID = #{record.textmsgId,jdbcType=VARCHAR},
			</if>
			<if test="record.keyword != null">
				KEYWORD = #{record.keyword,jdbcType=VARCHAR},
			</if>
			<if test="record.content != null">
				CONTENT = #{record.content,jdbcType=VARCHAR},
			</if>
			<if test="record.createtime != null">
				CREATETIME = #{record.createtime,jdbcType=VARCHAR},
			</if>
			<if test="record.status != null">
				STATUS = #{record.status,jdbcType=INTEGER},
			</if>
			<if test="record.bz != null">
				BZ = #{record.bz,jdbcType=VARCHAR},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update weixin_textmsg
		set TEXTMSG_ID = #{record.textmsgId,jdbcType=VARCHAR},
		KEYWORD = #{record.keyword,jdbcType=VARCHAR},
		CONTENT = #{record.content,jdbcType=VARCHAR},
		CREATETIME = #{record.createtime,jdbcType=VARCHAR},
		STATUS = #{record.status,jdbcType=INTEGER},
		BZ = #{record.bz,jdbcType=VARCHAR}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="com.ssm.po.WeixinTextmsg">
		update weixin_textmsg
		<set>
			<if test="keyword != null">
				KEYWORD = #{keyword,jdbcType=VARCHAR},
			</if>
			<if test="content != null">
				CONTENT = #{content,jdbcType=VARCHAR},
			</if>
			<if test="createtime != null">
				CREATETIME = #{createtime,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				STATUS = #{status,jdbcType=INTEGER},
			</if>
			<if test="bz != null">
				BZ = #{bz,jdbcType=VARCHAR},
			</if>
		</set>
		where TEXTMSG_ID = #{textmsgId,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.ssm.po.WeixinTextmsg">
		update weixin_textmsg
		set KEYWORD = #{keyword,jdbcType=VARCHAR},
		CONTENT = #{content,jdbcType=VARCHAR},
		CREATETIME = #{createtime,jdbcType=VARCHAR},
		STATUS = #{status,jdbcType=INTEGER},
		BZ = #{bz,jdbcType=VARCHAR}
		where TEXTMSG_ID = #{textmsgId,jdbcType=VARCHAR}
	</update>
</mapper>